### Ignore files without extension ###
# Ignore all
*
# Unignore all with extensions
!*.*
# Unignore all dirs
!*/
# Unignore all Makefiles (**/ for subdirectories)
!**/Makefile
!**/makefile

### Ignore all files with the below extensions ###
*.exe
*.o
